{% extends "templates/main-template.twig" %}

{% block content %}
<div class='admin-container'>
  <div class='col s8 offset-s2'>
    <h1 class='admin-header'>Zarządzaj konsultacjami</h1>
  </div>
  <form class='admin-form' action="{{ path_for('setVisit') }}" method="post">
    <div class='row'>
      <div class='col s2 offset-s3 input-field'>
          <select id="start" name="start">
            <option value="08:00">08:00</option>
            <option value="09:00">09:00</option>
            <option value="10:00">10:00</option>
            <option value="11:00">11:00</option>
            <option value="12:00">12:00</option>
            <option value="13:00">13:00</option>
            <option value="14:00">14:00</option>
            <option value="15:00">15:00</option>
            <option value="16:00">16:00</option>
            <option value="17:00">17:00</option>
            <option value="18:00">18:00</option>
            <option value="19:00">19:00</option>
            <option value="20:00">20:00</option>
          </select>
          <label>Godzina rozpoczęcia</label>
      </div>
      <div class='col s2 input-field'>
        <select id="end" name="end">
          <option value="08:00">08:00</option>
          <option value="09:00">09:00</option>
          <option value="10:00">10:00</option>
          <option value="11:00">11:00</option>
          <option value="12:00">12:00</option>
          <option value="13:00">13:00</option>
          <option value="14:00">14:00</option>
          <option value="15:00">15:00</option>
          <option value="16:00">16:00</option>
          <option value="17:00">17:00</option>
          <option value="18:00">18:00</option>
          <option value="19:00">19:00</option>
          <option value="20:00">20:00</option>
        </select>
        <label>Godzina zakończenia</label>
      </div>
      <div class='col s2 input-field'>
        <select id="day" name="day">
          <option value="1">poniedziałek</option>
          <option value="2">wtorek</option>
          <option value="3">środa</option>
          <option value="4">czwartek</option>
          <option value="5">piątek</option>
        </select>
        <label>Wybierz dzień</label>
      </div>
    </div>
    <div class="row">
      <div class='col s2 offset-s5'>
        <button class="btn waves-effect waves-light" type="submit">Dodaj</button>
      </div>
    </div>
  </form>
  <form action="{{ path_for('deleteVisit') }}" method="post">
    <div class="row">
      <div class="col l3">
      </div>
      <div class="col l6 m8 s8">
        <table>
          <thead>
            <tr>
              <th>Dzień</th>
              <th>Godzina rozpoczęcia</th>
              <th>Godzina zakończenia</th>
            </tr>
          </thead>

          <tbody>
            {% for cons in consultations %}
            <tr>
              <td>{{cons.day_name}}</td>
              <td>{{cons.consultation_start}}</td>
              <td>{{cons.consultation_end}}</td>
              <td><button class="btn btn-small waves-effect waves-light customButton" id="day_name" name="day_name" value="{{cons.day_name}}" type="submit">Usuń</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col l3">
      </div>
    </div>
  </form>
</div>



<div class='admin-container'>
  <h3 class='admin-incoming-header'>Nadchodzące konsultację</h3>
  <form action="{{ path_for('confirmVisit') }}" method="post">
    <div class="row">
      <div class="col l1">
      </div>
      <div class="col l10 m8 s8">
        <table>
          <thead>
            <tr>
              <th>Imię</th>
              <th>Naziwsko</th>
              <th>Moduł</th>
              <th>Mail</th>
              <th>Godzina rozpoczęcia</th>
              <th>Godzina zakończenia</th>
              <th>Data</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            {% for cons in studentConsultations %}
            <tr>
              <td>{{cons.student_name}}</td>
              <td>{{cons.student_surname}}</td>
              <td>{{cons.subject}}</td>
              <td>{{cons.student_mail}}</td>
              <td>{{cons.consultation_start}}</td>
              <td>{{cons.consultation_end}}</td>
              <td>{{cons.consultation_date}}</td>
              <td>{% if cons.status == "confirmed" %}
                Potwierdzona
                {% elseif cons.status == "unconfirmed" %}
                Odrzucona
                {% endif%}</td>
              <td><button class="btn btn-small waves-effect waves-light customButton" id="conf" name="conf" value="{{cons.id}}" type="submit">Potwierdź</td>
              <td><button class="btn btn-small waves-effect waves-light customButton" id="dec" name="dec" value="{{cons.id}}" type="submit">Odrzuć</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col l1">
      </div>
    </div>
  </form>
</div>
<script>
  $(document).ready(function() {
    $('select').formSelect();
  });
</script>
{% endblock %}