{% extends "templates/consultations-template.twig" %}

{% block form %}

<<<<<<< HEAD
<form action="{{ path_for('consultationsPage') }}" method="post" class='consultations-form' style="margin-top: 2em">
  {% for h in hoursList %}
  {% set i = ( i | default(0) ) + 1 %}
  <div class='row' style="margin-top: 0; margin-bottom: 0">
    <div class='col s2 offset-s4'>
      <p>{{ h['hours'] }}</p>
    </div>
    <div class='col s2'>
      <p>
        <label>
          <input type="checkbox" name="hour{{ i }}" class="filled-in" {% if h['disable'] == true %} disabled="disabled {% endif %}" />
          <span></span>
        </label>
      </p>
    </div>
  </div>
  {% endfor %}
  <div class='row' style="margin-top: 4em">
    <div class='col s2 offset-s5'>
      <button class="btn waves-effect waves-light" type="submit" name="action">Dalej
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</form>
=======
    <form action="{{ path_for('consultationsTimePage') }}" method="post" class='consultations-form consultations-date-picker'>
        <div class='row'>
            <div class='col s2 offset-s4' style="margin-bottom: 6em">
                <select required name="startHour" class="startHourSelect" onchange="onFirstHourChange()">
                    <option value="" disabled selected>Godzina rozpoczecia</option>
                    {% for h in hoursList %}
                    <option value="{{ h['startHour'] }}">{{ h['startHour'] }}</option>
                    {% endfor %}
                </select>
                <label>Materialize Select</label>
            </div>
            <div class='col s2' style="margin-bottom: 6em">
                <select required name="endHour" class="endHourSelect">
                    <option class="pierwszy" value="" disabled selected>Godzina zakończenia</option>
                </select>
                <label>Materialize Select</label>
            </div>
        </div>
        <div class='row'>
            <div class='col s2 offset-s5'>
                <button class="btn waves-effect waves-light" type="submit" name="action">Dalej
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
>>>>>>> c93901be20a658014119bc239c785826346c6f88

    <script>
        var startHourSelect;
        var endHourSelect;

        $(document).ready(function(){
            startHourSelect = $('.startHourSelect');
            endHourSelect = $('.endHourSelect');

            endHourSelect.prop("disabled", true);

            endHourSelect.formSelect();
            startHourSelect.formSelect();

        });

        var onFirstHourChange = () => {
            endHourSelect.prop("disabled", false);

            console.log(endHourSelect[0].options);
            console.log(endHourSelect[0].length);

            var length = endHourSelect[0].length;


            for(var i = 1; i < length; i++){
                console.log("Iteracja: " + i);
                endHourSelect[0].options[1].remove();
            }

            var hoursList = getHoursList();

            hoursList = hoursValidation(hoursList);

            for(var i = 0; i < hoursList.length; i++){
                endHourSelect.append("<option name=" + hoursList[i] +">" + hoursList[i] + "</option>");
            }

            console.log(endHourSelect[0].length);

            endHourSelect.formSelect();

        }

        var getHoursList = () => {
            hoursList = [];
            {% for h in hoursList %}
            var map = new Map();
            map.set('startHour', '{{ h['startHour'] }}');
            map.set('endHour', '{{ h['endHour'] }}')
            hoursList.push(map);
            {% endfor %}

            return hoursList;
        }

        var hoursValidation = (hoursList) => {
            var validatedHoursList = [];

            var hour = startHourSelect.val();

            console.log(hour);

            var start = 0;

            for(var i = 0; i < hoursList.length; i++) {
                if(hour == hoursList[i].get('startHour')){
                    start = i;
                }
            }

            for(var i = start; i < hoursList.length; i++){
                if(hoursList[i].get('startHour') == hour){
                    hour = hoursList[i].get('endHour');
                    validatedHoursList.push(hour);
                }else{
                    break;
                }
            }

            console.log(validatedHoursList);

            return validatedHoursList;
        }

    </script>

{% endblock %}