{% extends "templates/consultations-template.twig" %}

{% block form %}

    <form action="{{ path_for('consultationsTimePage') }}" method="post" class='consultations-form'>
        <div class='row'>
            <div class='col s4 offset-s4'>
                <select required name="startHour" class="startHourSelect" onchange="onFirstHourChange()">
                    <option value="" disabled selected>Godzina rozpoczecia</option>
                    {% for h in hoursList %}
                    <option value="{{ h['startHour'] }}">{{ h['startHour'] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class='col s4 offset-s4' style="margin-bottom: 5em;">
                <select required name="endHour" class="endHourSelect">
                    <option class="pierwszy" value="" disabled selected>Godzina zakończenia</option>
                </select>
            </div>
        </div>
        <div class='row centerButton'>
            <div class='col s2 offset-s5'>
                <button class="btn waves-effect waves-light" type="submit" name="action">Dalej
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>

    <script>
        var startHourSelect;
        var endHourSelect;

        $(document).ready(function(){
            startHourSelect = $('.startHourSelect');
            endHourSelect = $('.endHourSelect');

            endHourSelect.prop("disabled", true);

            endHourSelect.formSelect();
            startHourSelect.formSelect();

        });

        var onFirstHourChange = () => {
            endHourSelect.prop("disabled", false);

            console.log(endHourSelect[0].options);
            console.log(endHourSelect[0].length);

            var length = endHourSelect[0].length;


            for(var i = 1; i < length; i++){
                console.log("Iteracja: " + i);
                endHourSelect[0].options[1].remove();
            }

            var hoursList = getHoursList();

            hoursList = hoursValidation(hoursList);

            for(var i = 0; i < hoursList.length; i++){
                endHourSelect.append("<option name=" + hoursList[i] +">" + hoursList[i] + "</option>");
            }

            console.log(endHourSelect[0].length);

            endHourSelect.formSelect();

        }

        var getHoursList = () => {
            hoursList = [];
            {% for h in hoursList %}
            var map = new Map();
            map.set('startHour', '{{ h['startHour'] }}');
            map.set('endHour', '{{ h['endHour'] }}')
            hoursList.push(map);
            {% endfor %}

            return hoursList;
        }

        var hoursValidation = (hoursList) => {
            var validatedHoursList = [];

            var hour = startHourSelect.val();

            console.log(hour);

            var start = 0;

            for(var i = 0; i < hoursList.length; i++) {
                if(hour == hoursList[i].get('startHour')){
                    start = i;
                }
            }

            for(var i = start; i < hoursList.length; i++){
                if(hoursList[i].get('startHour') == hour){
                    hour = hoursList[i].get('endHour');
                    validatedHoursList.push(hour);
                }else{
                    break;
                }
            }

            console.log(validatedHoursList);

            return validatedHoursList;
        }

    </script>

{% endblock %}